python==3.9
aiofiles
aiohttp
aiosignal
anyio
asgiref
async-timeout
asyncio
attrs
bs4
black
blinker
Brotli
certifi
cffi
cfgv
charset-normalizer
click
colorama
cssselect2
curl-cffi
dataclasses-json
distlib
docopt
duckduckgo-search
EbookLib
exceptiongroup
fastapi
filelock
Flask
fonttools
frozenlist
greenlet
gunicorn
h11
h2
hpack
html5lib
httpcore
httpx
hyperframe
identify
idna
importlib-metadata
importlib-resources
itsdangerous
Jinja2
lxml
Markdown
markdown2
MarkupSafe
marshmallow
md2pdf
multidict
mypy-extensions
nodeenv
numexpr
openai
openapi-schema-pydantic
outcome
packaging
pathspec
Pillow
platformdirs
pre-commit
pycparser
pydantic
pyee
PyPDF2
pyphen
PySocks
python-dotenv
python-multipart
python-pptx
python-socks
PyYAML
regex
requests
ruff
selenium==4.10.0
singleton==0.1.0
six==1.16.0
sniffio==1.3.0
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.4.1
sseclient-py==1.7.2
starlette==0.27.0
tenacity==8.2.2
tinycss2
tls-client
tomli
tqdm
trio
trio-websocket
typer
typing-inspect
typing_extensions
urllib3
uvicorn
virtualenv
weasyprint
webdriver-manager
webencodings
websocket-client
Werkzeug
wsproto
xlrd
XlsxWriter
yarl
zipp
zopfli
